.canvas-grid-container {
  width: 100%;
  height: calc(100vh - clamp(60px, 12vw, 100px));
  flex: 1;
  position: relative;
  min-height: 300px;
  overflow: hidden;
}

.canvas-grid-canvas {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
  touch-action: none;
}
